body {
  margin: 0 auto;
  max-width: 50em;

  font-family: "Helvetica", "Arial", sans-serif;
  color: #737373;

  font-size: 12px;
  font-weight: normal;
  font-family: Helvetica, Arial, Geneva, Swiss, SunSans-Regular, sans-serif;
}

h1 {
  color: #444;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff0000
}

#diagramContainer {
  width: 500px;
  margin: 4em auto;
  position: relative;
}

.label {
  position: absolute;
  color: #000;
  z-index: 1;
}

.inputR {
  margin: 0 8px;
  width: 3em;
  position: relative;
}

.padTopOmega {
  position: absolute;
  margin-top: 1px;
  display: inline;
}
